<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AMRECO (EM) | Equipment Manager Home</title>
</head>
<body>
{% extends "admin/base_generic.html" %}

{% block content %}
  <h1>AMRECO (EM) | Equipment Manager</h1>
  <p>
    Welcome to the AMRECO Equipment Manager (EM), a website developed by
    <em>Cristian Goebner</em>!
  </p>
  <h2>Dynamic content</h2>
  <p>The Equipment Manager (EM) database currently tracks the following equipment counts:</p>
{#  <ul>#}
{#      <li><strong>Number of Different Manufacturers:</strong> {{ num_manufacturers }}</li>#}
{#      <li><strong>Number of Different Models:</strong> {{ num_models }}</li>#}
{#      <li><strong>Separate Pieces of Equipment:</strong> {{ num_instances }}</li>#}
{#      <li><strong>Number of Different Locations:</strong> {{ num_instances }}</li>#}
{#  </ul>#}
{% endblock %}

</body>
</html>